# Support's signal phone number
SIGNAL_BRIDGE_NUMBER="+"

# Intercom access token (from Developer Hub > Configure > Authentication)
INTERCOM_ACCESS_TOKEN=""
# Intercom admin ID for the bot to act as when adding notes and managing conversations
INTERCOM_ADMIN_ID=""
